@charset "UTF-8";

/* CSSリセット
================================================*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,
img,ins,kbd,q,s,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    background: transparent;
    list-style: none;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    vertical-align: top;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

html {
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

.disply_none {display: none;}

.border_none {border: none;}

.z100 {z-index: 100;}

.fl {float: left;}
.fr {float: right;}

.w70 {width: 70%;}
.w400 {width: 20.83vw;}

.mt11 {margin-top: 11.4vw;}

.mt0 {margin-top: 0;}
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt50 {margin-top: 50px !important;}
.mt60 {margin-top: 60px !important;}
.mt70 {margin-top: 70px !important;}
.mt80 {margin-top: 80px !important;}
.mt90 {margin-top: 90px !important;}
.mt100 {margin-top: 100px !important;}
.mt150 {margin-top: 150px !important;}
.mt200 {margin-top: 200px !important;}
.mt250 {margin-top: 250px !important;}

@media screen and (max-width: 7067px) {

	.mt25 {margin-top: 10px !important;}
	.mt35 {margin-top: 10px !important;}

	}


.mb0 {margin-bottom: 0;}
.mb10 {margin-bottom: 10px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb70 {margin-bottom: 70px !important;}
.mb80 {margin-bottom: 80px !important;}
.mb90 {margin-bottom: 90px !important;}
.mb100 {margin-bottom: 5.21vw !important;}


@media screen and (max-width: 7067px) {

	.mb70 {margin-bottom: 0px !important;}

	}

.ml10 {margin-left: 10px;}
.ml20 {margin-left: 1.04vw;}
.ml50{margin-left: 50px;}
.ml300 {margin-left: 300px;}

.pt0 {padding-top: 0;}
.pt10 {padding-top: 10px !important;}
.pt20 {padding-top: 20px !important;}
.pt30 {padding-top: 30px !important;}
.pt40 {padding-top: 40px !important;}
.pt50 {padding-top: 50px !important;}
.pt60 {padding-top: 60px !important;}
.pt70 {padding-top: 70px !important;}
.pt80 {padding-top: 80px !important;}
.pt90 {padding-top: 90px !important;}
.pt100 {padding-top: 100px !important;}

.pb0 {padding-bottom: 0;}
.pb10 {padding-bottom: 10px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb50 {padding-bottom: 50px !important;}
.pb60 {padding-bottom: 60px !important;}
.pb70 {padding-bottom: 70px !important;}
.pb80 {padding-bottom: 80px !important;}
.pb90 {padding-bottom: 90px !important;}
.pb100 {padding-bottom: 100px !important;}

.pl300 {padding-left: 300px;}

.ptb30 {padding: 30px 0;}
.ptb50 {padding: 50px 0;}
.ptb100 {padding: 100px 0;}

.center {text-align: center !important;}
.left {text-align: left !important;}
.right {text-align: right !important;}

.w70 {width: 70%;margin: 0 auto;}

.img70 {width: 70%;}

.fz12 {font-size: 12px !important;}
.fz13 {font-size: 13px !important;}
.fz14 {font-size: 14px !important;}
.fz15 {font-size: 15px !important;}
.fz16 {font-size: 16px !important;}
.fz18 {font-size: 18px !important;}
.fz20 {font-size: 20px !important;}
.fz22 {font-size: 22px !important;}
.fz24 {font-size: 24px !important;}
.fz26 {font-size: 26px !important;}
.fz28 {font-size: 28px !important;}

.bold {font-weight: bold;}

.lh15 {line-height: 1.5rem;}
.lh18 {line-height: 1.8rem;}
.lh20 {line-height: 2rem;}
.lh25 {line-height: 2.5rem;}

.tategaki {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
}

/*--文章折返し時の右揃え--*/
.justify {
    display: inline-block;
    text-align: justify;
    -webkit-text-justify: inter-ideograph;
    text-justify: inter-ideograph;
    width: 100%;
}

/*--文字色--*/
.main__color {color: var(--main_color);}
.white {color: #fff;}
.red {color: red;}
.blue {color: blue;}

/*--文字色--*/
.font_narrow {
    letter-spacing: -0.2em;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
}

.border-right {border-right: 1px solid #000;}
.border-top {border-top: 1px solid #000;}
.border-bottom {border-bottom: 1px solid #000;}

.relative {position: relative;}

.fixed {
    display: block;
    position: fixed;
    top: -100px;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    z-index: 1000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sp {display: none;}
	@media screen and (max-width: 7067px) {
	.sp {display: inline-block !important; }
	}
.sp_img {display: none;}
	@media screen and (max-width: 7067px) {
		.sp_img {display: block; }
	}

.tab {display: block;}
	@media screen and (max-width: 1200px) {
		.tab {display: none; }
		}

.pc {display: inline-block;}
	@media screen and (max-width: 7067px) {
	.pc {display: none !important;}
	}
.pc_news {display:block;}
	@media screen and (max-width: 7067px) {
		.pc {display: none !important;}
		}




@media screen and (max-width: 7067px) {

.mb50 {margin-bottom: 40px !important;}
.mb60 {margin-bottom: 40px !important;}
.mb70 {margin-bottom: 40px !important;}
.mb80 {margin-bottom: 50px !important;}
.mb90 {margin-bottom: 50px !important;}
.mb100 {margin-bottom: 50px !important;}

.lh18 {line-height: 1.8rem;}
.lh20 {line-height: 1.8rem;}
.lh25 {line-height: 1.8rem;}

.ptb30 {padding: 10px 0;}
.ptb50 {padding: 10px 0;}
.ptb100 {padding: 30px 0;}

}

.pc{
	display: none;
}

.sp{
	display: block;
}